.start-animation-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.login-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  animation: fadeInLoginBackground 1.8s ease-in-out forwards;
  
  ::ng-deep .logo-container {
    opacity: 0;
    pointer-events: none;
    animation: fadeInLoginLogo 0.3s ease-in-out 1.8s forwards;
  }
}

@keyframes fadeInLoginLogo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    pointer-events: auto;
  }
}


@keyframes fadeInLoginBackground {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animation-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #f6f7f8;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  animation: fadeOutBackground 1.8s ease-in-out forwards;
  pointer-events: none;
  opacity: 1;
}

.animation-container .logo {
  pointer-events: auto;
}

.logo {
  width: 274px;
  height: 334.07px;
  opacity: 1;
  animation: slideToCorner 1.8s ease-in-out forwards, fadeOutAnimatedLogo 0.3s ease-in-out 1.8s forwards;
  display: block;
  position: relative;
  z-index: 100000;
  object-fit: contain;
  transform-origin: center center;
}

.logo-mobile {
  display: none;
}

@keyframes fadeOutAnimatedLogo {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slideToCorner {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
    width: 100.03px;
    height: 121.97px;
  }
  20% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
    width: 100.03px;
    height: 121.97px;
  }
  100% {
    transform: translate(calc(-50vw + 64px + 50px), calc(-50vh + 64px + 60.985px));
    opacity: 1;
    width: 100.03px;
    height: 121.97px;
  }
}

@keyframes fadeOutBackground {
  0% {
    background-color: #f6f7f8;
  }
  30% {
    background-color: #f6f7f8;
  }
  100% {
    background-color: transparent;
  }
}

@keyframes fadeOutBackgroundMobile {
  0% {
    background-color: #2A3647;
  }
  30% {
    background-color: #2A3647;
  }
  100% {
    background-color: transparent;
  }
}

@media (max-width: 1024px) {
  .logo-desktop {
    display: none;
  }

  .logo-mobile {
    display: block;
  }

  .animation-container {
    background-color: #2A3647;
    animation: fadeOutBackgroundMobile 1.8s ease-in-out forwards;
  }

  .logo {
    width: 80px;
    height: 97.576px;
    animation: slideToCornerTablet 1.8s ease-in-out forwards, fadeOutAnimatedLogo 0.3s ease-in-out 1.8s forwards;
  }
}

@media (max-width: 768px) {
  .logo {
    animation: slideToCornerMobile 1.8s ease-in-out forwards, fadeOutAnimatedLogo 0.3s ease-in-out 1.8s forwards;
  }
}

@keyframes slideToCornerTablet {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
    width: 80px;
    height: 97.576px;
  }
  20% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
    width: 80px;
    height: 97.576px;
  }
  100% {
    transform: translate(calc(-50vw + 64px + 40px), calc(-50vh + 64px + 48.788px));
    opacity: 1;
    width: 80px;
    height: 97.576px;
  }
}

@keyframes slideToCornerMobile {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
    width: 80px;
    height: 97.576px;
  }
  20% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
    width: 80px;
    height: 97.576px;
  }
  100% {
    transform: translate(calc(-50vw + 4vw + 40px), calc(-50vh + 70px + 48.788px));
    opacity: 1;
    width: 80px;
    height: 97.576px;
  }
}
