<section class="contacts-section">
  <div class="contacts-container">
    <div class="contact-list">
      <div class="add-contact-btn-container">
        <button class="add-contact-btn">
          <span>Add new Contact</span>
          <img src="/imgs/add-new-contact-person-plus.png" width="32px" height="32px" alt="" />
        </button>
      </div>

      <div class="contacts-scroll">
        <ng-container *ngFor="let letter of alphabet">
          <div class="contact-group" *ngIf="groupedContacts[letter]?.length">
            <div class="letter-header">{{ letter }}</div>
            <div *ngFor="let contact of groupedContacts[letter]" class="contact-item">
              <div class="contact-avatar" [style.background-color]="getContactColor(contact)">
                {{ getInitials(contact.firstName, contact.lastName) }}
              </div>
              <div class="contact-info">
                <div class="contact-name">{{ contact.firstName }} {{ contact.lastName }}</div>
                <div class="contact-email">{{ contact.email }}</div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="contacts-header">
      <div class="header-content">
      <h2>Contacts</h2>
      <div class="header-separator"></div>
      <p>Better with a team</p>
    </div>
  </div>

