$primary-color: #2a3647;
$hover-color: #29abe2;
$bg-color: #f6f7f8;
$text-color: #000000;
$white: #ffffff;
$gray-divider: #d1d1d1;
$gray-border: #d1d5db;
$light-gray: #a8a8a8;
$input-border: #d1d5db;
$overlay-bg: rgba(0, 0, 0, 0.4);

.privacy-section {
  height: calc(100vh - 96px);
  background-color: $bg-color;
  padding: 0;
  margin: 96px 0 0 232px;
  display: flex;
  position: relative;
  max-width: 1920px;
  overflow: auto;

  @media (max-width: 1024px) {
    height: calc(100vh - 96px - 80px);
    margin: 96px 0 0 0;
  }

  .privacy-content {
    margin: 94px 4% 0 4%;
  }

  h2 {
    font-size: 61px;
    font-weight: 700;
    margin: 0 0 40px 0;
    line-height: 120%;
    letter-spacing: 0%;

    @media (max-width: 750px) {
      font-size: 47px;
      margin: -80px 0 35px 0;
      padding-right: 60px;
    }
  }

  @media (max-width: 1024px) {
    margin: 97px 0 0px 0;
  }

  h3 {
    font-size: clamp(20px, 2vw, 27px);
    font-weight: 700;
    margin: 35px 0 10px 0;
  }

  p {
    font-size: 16px;
    font-weight: 400;

    &:last-of-type {
      padding-bottom: 40px;
    }
  }

  .da-span {
    color: #29abe2;
  }

  a {
    color: #29abe2;
    text-decoration: underline;

    &:hover {
      color: red;
    }
  }

  .back-btn {
    position: absolute;
    border: none;
    background: transparent;
    right: 4%;
    top: 100px;
    display: none;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }

    @media (max-width: 1024px) {
      display: block;
    }

    @media (max-width: 750px) {
      display: block;
      top: 18px;
    }
  }
}
