<section class="board-task-card-section" (click)="cardClick.emit(task())">
  <div class="category">
    <span>{{ task().category }}</span>
  </div>
  <span class="title">{{ task().title }}</span>
  <span class="description">{{ truncatedDescription() }}</span>

  @if (task().subtasks.length) {
    <div class="progress-container">
      <progress [value]="completedSubtasksCount()" [max]="task().subtasks.length"></progress>
      <span>{{ completedSubtasksCount() }}/{{ task().subtasks.length }} Subtasks</span>
    </div>
  }

  <div class="card-footer">
    <div class="assigned">
      @for (contact of displayedContacts(); track $index; let i = $index) {
        <div class="avatar" [attr.data-idx]="i" [style.background-color]="contact.color" [style.color]="'white'">
          {{ contact.initials }}
        </div>
      }
      @if (remainingContactsCount() > 0) {
        <div class="avatar avatar-more">
          +{{ remainingContactsCount() }}
        </div>
      }
    </div>
    <img class="priority-icon" [src]="priorityIconSrc()" alt="Priority" />
  </div>
</section>
