@media (max-width: 1024px) {
  section {
    margin-left: 0;
    margin-top: 19px;
    height: calc(100vh - 160px);
  }
}

@media (max-width: 1060px) {
  .greeting {
    display: none;
  }
}

@media (max-width: 700px) {
  .summary-header {
    h2 {
      font-size: 47px;
    }
  }
}

@media (max-width: 580px) {
  section {
    align-items: flex-start;
  }

  .summary-header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 0;
    margin-top: 90px;

    .spacer-blue {
      margin-top: 5px;
      order: 3;
      height: 2px;
      max-height: 2px;
      width: 90px;
      background-color: #29abe2;
      border-radius: 2px;
      flex-shrink: 0;
    }

    span {
      order: 2;
      font-size: 20px;
    }
  }

  .card-row {
    width: clamp(18.25em, 90vw, 34em);
    gap: clamp(0.5em, 3.077vw - 0.115em, 1em);
  }

  .card-to-do {
    padding: clamp(0.5em, 3.385vw, 2.375em);
    gap: clamp(0.5em, 3.077vw - 0.115em, 1em);

    .icon {
      width: clamp(2.5em, 11.538vw + 0.192em, 4.375em);
      height: clamp(2.5em, 11.538vw + 0.192em, 4.375em);
    }

    .text {
      gap: 0;

      .count {
        font-size: clamp(1.5em, 9.231vw, 4em);
      }

      p {
        font-size: clamp(1em, 1.538vw + 0.692em, 1.25em);
      }
    }
  }

  .card-done {
    padding: clamp(0.5em, 3.385vw, 2.375em);
    gap: clamp(0.5em, 3.077vw - 0.115em, 1em);

    .icon {
      width: clamp(2.5em, 11.538vw + 0.192em, 4.375em);
      height: clamp(2.5em, 11.538vw + 0.192em, 4.375em);
    }

    .text {
      gap: 0;

      .count {
        font-size: clamp(1.5em, 9.231vw, 4em);
      }

      p {
        font-size: clamp(1em, 1.538vw + 0.692em, 1.25em);
      }
    }
  }

  .card-deadline {
    padding: clamp(0.5em, 5.385vw, 2.375em) 0;
    gap: 8px;

    .highest-priority-badge {
      gap: 8px;

      .icon {
        width: clamp(2.25em, 9.231vw + 0.404em, 3.75em);
        height: clamp(2.25em, 9.231vw + 0.404em, 3.75em);
      }

      .text {
        p {
          font-size: clamp(1em, 1.538vw + 0.692em, 1.25em);
        }

        .count {
          font-size: clamp(1.5em, 9.231vw, 4em);
        }
      }
    }

    .deadline {
      .date {
        max-width: clamp(148px, 32.222vw + 1.194em, 206px);
        white-space: wrap;
      }
    }
  }

  .card-all-tasks,
  .card-in-progress,
  .card-awaiting-feedback {
    padding: 16px 8px;

    .count {
      font-size: clamp(1.5em, 9.231vw, 4em);
    }

    p {
      font-size: clamp(1em, 1.538vw, 1.25em);
    }
  }
}

