section {
  height: calc(100vh - 96px);
  background-color: #f6f7f8;
  padding: 0;
  margin: 96px 0 0 232px;
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: none;

  @media (max-width: 1024px) {
    margin-left: 0;
    margin-top: 19px;
    height: calc(100vh - 160px);
  }
}

.summary-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 16px;
  margin-top: 85px;
  white-space: nowrap;
  height: 73px;
  padding-left: 4%;
  margin-bottom: 48px;

  h2 {
    font-size: 61px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
  }

  @media (max-width: 700px) {
    h2 {
      font-size: 47px;
    }
  }

  .spacer-blue {
    width: 2px;
    height: 59px;
    background-color: #29abe2;
    border-radius: 3px;
  }

  span {
    font-size: 27px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
  }
}

.summary-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 40px;
  padding: 0 4%;
  max-width: 1100px;
  min-height: 0;
}

.card-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 16px;
}

.card-row {
  width: 544px;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row;
  gap: 16px;
}

.card-to-do {
  width: 100%;
  padding: 38px 0;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  transition: background-color 125ms ease, scale 125ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 16px;

  .icon {
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url('/imgs/summary/pen-default.png');

    @media (max-width: 580px) {
      width: clamp(2.5em, 11.538vw + 0.192em, 4.375em);
      height: clamp(2.5em, 11.538vw + 0.192em, 4.375em);
    }
  }

  .text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0;

    .count {
      font-size: 64px;
      font-weight: 600;

      @media (max-width: 580px) {
        font-size: clamp(1.5em, 9.231vw, 4em);
      }
    }

    p {
      font-size: 20px;
      color: #2a3647;
      white-space: nowrap;

      @media (max-width: 580px) {
        font-size: clamp(1em, 1.538vw + 0.692em, 1.25em);
      }
    }
  }

  &:hover {
    cursor: pointer;
    scale: 1.04;
    background-color: #2a3647;
  }

  &:hover .text p {
    color: #ffffff;
  }

  &:hover .text .count {
    color: #ffffff;
  }

  &:hover .icon {
    background-image: url('/imgs/summary/pen-hover.png');
  }
}

.card-done {
  width: 100%;
  padding: 38px 0;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  transition: background-color 125ms ease, scale 125ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 16px;

  .icon {
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url('/imgs/summary/checkmark-default.png');

    @media (max-width: 580px) {
      width: clamp(2.5em, 11.538vw + 0.192em, 4.375em);
      height: clamp(2.5em, 11.538vw + 0.192em, 4.375em);
    }
  }

  .text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0;

    .count {
      font-size: 64px;
      font-weight: 600;

      @media (max-width: 580px) {
        font-size: clamp(1.5em, 9.231vw, 4em);
      }
    }

    p {
      font-size: 20px;
      color: #2a3647;
      white-space: nowrap;

      @media (max-width: 580px) {
        font-size: clamp(1em, 1.538vw + 0.692em, 1.25em);
      }
    }
  }

  &:hover {
    cursor: pointer;
    scale: 1.04;
    background-color: #2a3647;
  }

  &:hover .text p {
    color: #ffffff;
  }

  &:hover .text .count {
    color: #ffffff;
  }

  &:hover .icon {
    background-image: url('/imgs/summary/checkmark-hover.png');
  }
}

.card-deadline {
  width: 100%;
  padding: 38px 0;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  transition: background-color 125ms ease, scale 125ms ease;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  gap: 16px;

  &:hover {
    cursor: pointer;
    scale: 1.02;
    background-color: #2a3647;
  }

  .highest-priority-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 16px;

    .icon {
      width: 60px;
      height: 60px;
      background-image: url('/imgs/summary/urgent-default.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    .text {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 0;

      .count {
        font-size: 64px;
        font-weight: 600;

        @media (max-width: 580px) {
          font-size: clamp(1.5em, 9.231vw, 4em);
        }
      }

      p {
        font-size: 16px;
        color: #2a3647;
        white-space: nowrap;

        @media (max-width: 580px) {
          font-size: clamp(1em, 1.538vw + 0.692em, 1.25em);
        }
      }
    }
  }

  .spacer {
    width: 2px;
    height: 80px;
    background-color: #d1d1d1;
  }

  .deadline {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 16px;
    color: #2a3647;

    .date {
      font-size: 21px;
      font-weight: bold;
    }
  }

  &:hover .deadline {
    color: #ffffff;
  }

  &:hover .highest-priority-badge .text p {
    color: #ffffff;
  }

  &:hover .highest-priority-badge .text .count {
    color: #ffffff;
  }

  &:hover .spacer {
    background-color: #ffffff;
  }
}

.card-all-tasks,
.card-in-progress,
.card-awaiting-feedback {
  width: 100%;
  padding: 24px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  transition: background-color 125ms ease, scale 125ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0;

  .count {
    font-size: 64px;
    font-weight: 600;
  }

  p {
    text-align: center;
    font-size: 20px;
    color: #2a3647;
  }

  &:hover {
    cursor: pointer;
    scale: 1.04;
    background-color: #2a3647;
  }

  &:hover p {
    color: #ffffff;
  }

  &:hover .count {
    color: #ffffff;
  }
}

.greeting {
  width: 100%;

  @media (max-width: 1060px) {
    display: none;
  }

  p {
    font-size: clamp(1.5em, 6.667vw - 3.5em, 2.5em);
    color: #2a3647;
  }

  .name {
    color: #29abe2;
    font-size: clamp(2.25em, 11.667vw - 6.5em, 4em);
    font-weight: bold;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: wrap;
  }
}

@media (max-width: 580px) {
  section {
    align-items: flex-start;
  }

  .summary-header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 0;
    margin-top: 90px;

    .spacer-blue {
      margin-top: 5px;
      order: 3;
      height: 2px;
      max-height: 2px;
      width: 90px;
      background-color: #29abe2;
      border-radius: 2px;
      flex-shrink: 0;
    }

    span {
      order: 2;
      font-size: 20px;
    }
  }

  .card-row {
    width: clamp(18.25em, 90vw, 34em);
    gap: clamp(0.5em, 3.077vw - 0.115em, 1em);
  }

  .card-to-do,
  .card-done {
    padding: clamp(0.5em, 3.385vw, 2.375em);
    gap: clamp(0.5em, 3.077vw - 0.115em, 1em);

    text {
      gap: 0;
    }
  }

  .card-deadline {
    padding: clamp(0.5em, 5.385vw, 2.375em) 0;
    gap: 8px;

    .highest-priority-badge {
      gap: 8px;

      .icon {
        width: clamp(2.25em, 9.231vw + 0.404em, 3.75em);
        height: clamp(2.25em, 9.231vw + 0.404em, 3.75em);
      }

      p {
        font-size: 16px;
      }
    }
  }

  .deadline {
    .date {
      max-width: clamp(148px, 32.222vw + 1.194em, 206px);
      white-space: wrap;
    }
  }

  .card-all-tasks,
  .card-in-progress,
  .card-awaiting-feedback {
    padding: 16px 8px;

    .count {
      font-size: clamp(1.5em, 9.231vw, 4em);
    }

    p {
      font-size: clamp(1em, 1.538vw, 1.25em);
    }
  }
}
