$primary-color: #2a3647;
$hover-color: #29abe2;
$bg-color: #f6f7f8;
$text-color: #000000;
$white: #ffffff;
$gray-divider: #d1d1d1;
$gray-border: #d1d5db;
$light-gray: #a8a8a8;
$input-border: #d1d5db;
$overlay-bg: rgba(0, 0, 0, 0.4);
$red: #ff3d3d;
$medium-orange: #ff8a00;

section {
  height: calc(100vh - 96px);
  background-color: #f6f7f8;
  padding: 0;
  margin: 96px 0 0 232px;
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: none;

  @media (max-width: 1024px) {
    margin-left: 0;
    margin-top: 80px;
    height: calc(100vh - 160px);
  }
}

.summary-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 16px;
  margin-top: 100px;
  white-space: nowrap;
  height: 73px;
  padding-left: 4%;
  margin-bottom: 60px;

  h2 {
    font-size: 61px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
  }

  .spacer-blue {
    width: 2px;
    height: 59px;
    background-color: #29abe2;
    border-radius: 3px;
  }

  span {
    font-size: 27px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
  }
}

.summary-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 40px;
  padding: 0 4%;
  max-width: 1100px;
  min-height: 0;
}
