$primary-color: #2a3647;
$hover-color: #29abe2;
$bg-color: #f6f7f8;
$text-color: #000000;
$white: #ffffff;
$gray-divider: #d1d1d1;
$gray-border: #d1d5db;
$light-gray: #a8a8a8;
$input-border: #d1d5db;
$overlay-bg: rgba(0, 0, 0, 0.4);
$red: #ff3d3d;
$medium-orange: #ff8a00;

.dialog-backdrop {
  .dialog {
    .dialog-content {
      ::ng-deep .addtask-section {
        .addtask-header {
          h2 {
            @media (max-width: 750px) {
              font-size: 47px;
            }
          }
        }

        .form-left-and-form-right {
          @media (max-width: 750px) {
            flex-direction: column;
            overflow-y: auto;
            overflow-x: clip;
            margin-right: -7px;

            &::-webkit-scrollbar {
              width: 8px;
            }
            &::-webkit-scrollbar-track {
              background: transparent;
            }
            &::-webkit-scrollbar-thumb {
              border-radius: 8px;
              border: 2px solid transparent;
              background-clip: padding-box;
            }
            &::-webkit-scrollbar-thumb:hover {
              background-color: rgba(0, 0, 0, 0);
            }
          }
        }

        .form-left,
        .form-right {
          @media (max-width: 750px) {
            width: 100%;
          }
        }

        @media (max-width: 750px) {
          .addtask-bottom-left {
            display: none;
          }
          .required-mobile {
            display: block;

            span {
              color: $red;
            }
          }
        }

        .priority-form .priority-button {
          @media (max-width: 500px) {
            font-size: 0;
            max-width: 100px;
            min-width: 50px;
            gap: 0;
          }
        }

        .btn-primary {
          @media (max-width: 480px) {
            width: 100%;
          }
        }

        .btn-secondary {
          @media (max-width: 480px) {
            width: 100%;
          }
        }

        .addtask-bottom {
          .addtask-bottom-right {
            @media (max-width: 480px) {
              gap: 12px;
            }
          }

          @media (max-width: 1024px) {
            gap: 16px;
            margin: 0 0 44px 0;
          }

          @media (max-width: 750px) {
            gap: 16px;
            margin: 0 0 44px 0;
            justify-content: flex-end;
          }
        }
      }
    }
  }
}

