$primary-color: #2a3647;
$hover-color: #29abe2;
$bg-color: #f6f7f8;
$text-color: #000000;
$white: #ffffff;
$gray-divider: #d1d1d1;
$gray-border: #d1d5db;
$light-gray: #a8a8a8;
$input-border: #d1d5db;
$overlay-bg: rgba(0, 0, 0, 0.4);

.boardtask-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5%;
  background-color: #f6f7f8;
  height: calc(100vh - 96px - 208px);
  overflow-y: hidden;
  overflow-x: hidden;

  .wrapper {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: flex-start;
    margin: 0 1.5%;
    height: 100%;
    top: 155px;

    .top {
      width: 100%;
      height: 24px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 0 0 12px 0;
      font-family: 'Inter', sans-serif;
      font-size: clamp(17px, 1.67vw, 21px);
      font-weight: 700;
      flex-shrink: 0;
    }

    .plus-btn {
      width: 24px;
      height: 24px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background: none;
      border: none;
      cursor: pointer;
      transition: 0.3s ease;
      border-radius: 50%;

      .hover-img {
        display: none;
        width: 24px;
        height: auto;
      }
      .default-img {
        display: block;
        width: clamp(22px, 1.67vw, 24px);
        height: clamp(22px, 1.67vw, 24px);
      }

      &:hover .default-img {
        display: none;
      }
      &:hover .hover-img {
        display: block;
        transform: scale(1.03);
      }
    }

    .column {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: 680px;
      width: clamp(134px, 16vw, 409px);
      overflow-y: auto;
      overflow-x: hidden;

      &::-webkit-scrollbar {
        width: 0px;
      }
    }

    // .to-do-container {
    // }

    // .await-feedback-container {
    // }

    // .done-container {
    // }
  }

  .tasks-placeholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(134px, 16vw, 409px);
    height: 48px;
    background-color: #e7e7e7ad;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #a8a8a89e;
    border-radius: 10px;
    border: 2px dashed #a8a8a89e;
    box-shadow: 0 0 10px 2px #a8a8a818;
    margin: 8px 0;
  }
}
