* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Inter', sans-serif;
}
html,
body,
:host {
  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
}
body {
  background: #f5f5f5;
  font-family: 'Inter', sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
}

.wrapper {
  min-height: 100vh;
  width: 100%;
}

.layout {
  width: 100%;
  min-height: 100vh;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 232px;
  height: 100vh;
  background-color: #2a3647;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media (max-width: 1024px) {
    top: auto;
    bottom: 0;
    width: 100%;
    height: 80px;
    z-index: 100;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 96px;
  background-color: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  width: 100%;

  @media (max-width: 1024px) {
    height: 80px;
    z-index: 99;
  }
}

.content {
  min-height: calc(100vh - 96px);
  overflow-y: auto;

  @media (max-width: 1024px) {
    min-height: calc(100vh - 160px);
    margin-top: 80px;
    margin-bottom: 80px;
  }
}

app-footer {
  position: relative;
  z-index: 3;
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  src: url('/fonts/inter-v20-latin-100.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  src: url('/fonts/inter-v20-latin-200.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/inter-v20-latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/inter-v20-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/inter-v20-latin-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/inter-v20-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/inter-v20-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/inter-v20-latin-800.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/inter-v20-latin-900.woff2') format('woff2');
}
