* {
  box-sizing: border-box;
}
html,
body,
:host {
  height: 100%;
  margin: 0;
}
body {
  background: #f5f5f5;
}

.wrapper {
  max-width: 1440px;
  margin-inline: auto;
  min-height: 100dvh;
  padding: 0;
  display: flex;
}

.layout {
  flex: 1;
  display: grid;
  grid-template-columns: 232px 1fr;
  grid-template-rows: 96px 1fr;
  grid-template-areas:
    'header header'
    'sidebar content';
  min-height: 100%;
  background: #fff;
  border: 1px solid #e6e6e6;
  overflow: hidden;
}

.header {
  grid-area: header;
  background-color: #ffffff;
  z-index: 1;
  display: flex;
  align-items: center;
  padding: 0;
  min-height: 96px;
}

.sidebar {
  grid-column: 1;
  grid-row: 1 / -1;
  background-color: #2a3647;
  z-index: 2;
  height: 100dvh;
  position: sticky;
  top: 0;
}

.content {
  grid-area: content;
  padding: 16px;
  background-color: f6f7f8;
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  src: url('/fonts/inter-v20-latin-100.woff2') format('woff2');

  @font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    src: url('/fonts/inter-v20-latin-200.woff2') format('woff2');
  }

  @font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/inter-v20-latin-300.woff2') format('woff2');
  }

  @font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/inter-v20-latin-regular.woff2') format('woff2');
  }

  @font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/inter-v20-latin-500.woff2') format('woff2');
  }

  @font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/inter-v20-latin-600.woff2') format('woff2');
  }

  @font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/inter-v20-latin-700.woff2') format('woff2');
  }

  @font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    src: url('/fonts/inter-v20-latin-800.woff2') format('woff2');
  }

  @font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    src: url('/fonts/inter-v20-latin-900.woff2') format('woff2');
  }
}
