:host {
  display: flex;
  flex: 1;
}

.footer-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}

.logo {
  margin: 64px 0;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  margin: 52px 0;
}

.menu-btn {
  position: relative;
  display: block;
  inline-size: 232px;
  block-size: 46px;

  &:hover {
    background-color: #2a3d59;
  }
}

.menu-btn .icon {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: opacity 0.15s ease-in-out;
  pointer-events: none;
}

.menu-btn .icon.default {
  opacity: 1;
}
.menu-btn .icon.hover {
  opacity: 0;
}

.menu-btn:hover .icon.default,
.menu-btn:focus-visible .icon.default {
  opacity: 1;
}

.menu-btn:hover .icon.hover,
.menu-btn:focus-visible .icon.hover {
  opacity: 1;
}

.privacy-policy-legal-notice {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding-bottom: 48px;

  a {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 700;
    color: #a8a8a8;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
